.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: antiquewhite;
}
.headerContainer > h3 {
    padding-left: 20px;
    flex: 1;
    font-size: 30px;
    text-decoration: none;
}
.searchBox_deliveryHeader{
    padding-top: 20px;
    flex: 2
}
a{
    text-decoration: none;
    color: inherit;
}