.header {
    color: black;
    font-size: 5vh;
    height: 60vh;
    border:  1px solid black;
    background-size: cover;
    text-align: center;
}

.searchBox{
    width:30vh;
    padding: 3px;
}

.header_elements{
    position: absolute;
    top: 40%;
    left: 40%;
    margin: -25px 0 0 -25px;
}